/*html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}*/

html {
    padding: 20px;
}

body {
    font-family: Helvetica, Arial, "sans-serif";
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
 background-color: lightblue;
}
.resumeTitle {
	margin-bottom: 30px;
	text-align: center;
}

.experienceTitle {
	border: solid 2px gray;
	text-align: center;
	background-color: darkgray;
}

.addressContainer {
	height: 500px;
    float: right;
    width: 25%;
    vertical-align: bottom;
    border: solid 1px #000;
    padding: 5px;
    text-align: center;
}

.content {
    width: 70%;
    vertical-align: bottom;
    padding: 5px;
    display: contents;
}


.educationContainer {
    float: left;
    width: 70%;
    vertical-align: bottom;
    padding: 5px;
    right: -60px;
}

.image
{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    
}

.resumeNumber {
    margin: 0;
    text-align: center;
    margin-top: -26px;
    margin-bottom: 10px;
}

.contactInformation {
    border-style: solid;
}

.mainButton {
    background-color: green;
    color: white;
    margin-bottom: 10px;
}